directory=resulats/cylinders/P1

[case]
discretization= P2P1G1
dimension=2

[fluid]
filename=$cfgdir/cylinders.json
mesh.filename=$cfgdir/cylinders.geo
gmsh.hsize=8

solver= Newton #Oseen #Newton #Picard,Newton
linearsystem-cst-update=false
jacobian-linear-update=false

snes-monitor=true
pc-type= gams #gasm,lu
#snes-rtol=1e-10

[ts]
time-step=0.01
time-final=3

